<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='build/build.css'>

    <title>Grunt WebPageTest</title>
</head>
<body data-spy="scroll" data-target=".nav-graph">

    <div class="container">
        <nav class="navbar navbar-default" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Grunt WebPageTest</a>
            </div>
        </nav>
    </div>

    <div id="app" class="container">

        <div class="row">
            <div class="col-md-2 sidebar" >
                <div data-spy="affix" data-offset-top="60" class="nav-graph">
                    <h2>Location</h2>
                    <select id="locations" class="form-control" v-model="location" >
                        <option v-repeat="locations" value="{{$key}}" >{{$value}}</option>
                    </select>

                    <h2>URL</h2>
                    <select id="urls" class="form-control" v-model="url" v-show="!comparizon" >
                        <option v-repeat="urls" value="{{$key}}" >{{$key}}</option>
                    </select>
                    <input type="checkbox" v-model="comparizon" id="comparizonURLs">
                    <label for="comparizonURLs">Comparizon URLs</label>

                    <h2>Statics</h2>
                    <select id="statics" class="form-control" v-model="statics" >
                        <option value="average">Average</option>
                        <option value="median">Median</option>
                    </select>

                    <h2>View</h2>
                    <select id="view" class="form-control" v-model="view" >
                        <option value="firstView">FirstView</option>
                        <option value="repeatView">RepeatView</option>
                    </select>

                    <h2>Results</h2>
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="#responseTime">Response Time</a></li>
                        <li><a href="#speedIndex">SpeedIndex</a></li>
                        <li><a href="#contentsSize">Contents Size</a></li>
                        <li><a href="#contentsRequests">Contents Requests</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-10">

                <h2 id="responseTime" >Response Time</h2>

                <div v-show="!comparizon" >
                    <div id="responseTimeGraph" class="graphs" ></div>
                </div>

                <div v-show="comparizon" >
                    <h4>Document Complete</h4>
                    <div id="loadTimeGraph" class="graphs" ></div>
                    <h4>Fully Loaded</h4>
                    <div id="fullyLoadedGraph" class="graphs" ></div>
                </div>

                <div v-show="!comparizon">
                    <h3>Detail</h3>
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th rowspan="2">Date</th>
                                <th rowspan="2">ID</th>
                                <th colspan="{{colspan[statics]}}">FirstView</th>
                                <th colspan="{{colspan[statics]}}">RepeatView</th>
                            </tr>
                            <tr>
                                <th v-repeat="labels.responseTime[statics] | values" class="v-repeat-hack">{{$value}}</th>
                                <th v-repeat="labels.responseTime[statics] | values">{{$value}}</th>
                                <th v-repeat="labels.responseTime[statics] | values">{{$value}}</th>
                            </tr>
                        </thead>
                        <tbody id="averageTable">

                            <tr v-repeat="tests" class="v-repeat-hack">
                                <td>{{response.data.average.firstView.loadTime}}</td>
                            </tr>
                            <tr v-repeat="tests" >
                                <td>{{response.data.completed}}</td>
                                <td><a v-attr="href: response.data.summary">{{response.data.testId}}</a></td>
                                <td v-repeat="labels.responseTime[statics] | keys" class="v-repeat-hack">{{response.data[statics].firstView[$value] | ms}}</td>
                                <td v-repeat="labels.responseTime[statics] | keys">{{response.data[statics].firstView[$value] | ms}}</td>
                                <td v-repeat="labels.responseTime[statics] | keys" class="v-repeat-hack">{{response.data[statics].repeatView[$value] | ms}}</td>
                                <td v-repeat="labels.responseTime[statics] | keys">{{response.data[statics].repeatView[$value] | ms}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <h2 id="speedIndex" >Speed Index</h2>

                <div id="speedIndexGraph" class="graphs"></div>

                <div v-show="!comparizon">
                    <h3>Detail</h3>
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>ID</th>
                                <th>FirstView</th>
                                <th>RepeatView</th>
                            </tr>
                        </thead>
                        <tbody id="medianTable">
                            <tr v-repeat="tests">
                                <td>{{response.data.completed}}</td>
                                <td><a v-attr="href: response.data.summary">{{response.data.testId}}</a></td>
                                <td>{{response.data[statics].firstView.SpeedIndex}}</td>
                                <td>{{response.data[statics].repeatView.SpeedIndex}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <h2 id="contentsSize" >Contents Size</h2>
                <div id="contentsSizeGraph" class="graphs"></div>

                <div v-show="!comparizon">
                    <h3>Detail</h3>
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th rowspan="2">Date</th>
                                <th rowspan="2">ID</th>
                                <th colspan="8">FirstView</th>
                                <th colspan="8">RepeatView</th>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <th v-repeat="labels.contents | values" class="v-repeat-hack">{{$value}}</th>
                                <th v-repeat="labels.contents | values">{{$value}}</th>
                                <th>Total</th>
                                <th v-repeat="labels.contents | values">{{$value}}</th>
                            </tr>
                        </thead>
                        <tbody id="contentsSizeTable">
                            <tr v-repeat="tests" >
                                <td>{{response.data.completed}}</td>
                                <td><a v-attr="href: response.data.summary">{{response.data.testId}}</a></td>
                                <td>{{response.data.median.firstView.breakdown | totalBytes | KB}}</td>
                                <td v-repeat="labels.contents | keys" class="v-repeat-hack">{{response.data.median.firstView.breakdown[$value].bytes | KB}}</td>
                                <td v-repeat="labels.contents | keys" >{{response.data.median.firstView.breakdown[$value].bytes | KB}}</td>
                                <td>{{response.data.median.repeatView.breakdown | totalBytes | KB}}</td>
                                <td v-repeat="labels.contents | keys" class="v-repeat-hack">{{response.data.median.repeatView.breakdown[$value].bytes | KB}}</td>
                                <td v-repeat="labels.contents | keys" >{{response.data.median.repeatView.breakdown[$value].bytes | KB}}</td>
                             </tr>
                        </tbody>
                    </table>
                </div>

                <h2 id="contentsRequests" >Contents Requests</h2>
                <div id="contentsRequestsGraph" class="graphs"></div>

                <div v-show="!comparizon">
                    <h3>Detail</h3>
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th rowspan="2">Date</th>
                                <th rowspan="2">ID</th>
                                <th colspan="8">FirstView</th>
                                <th colspan="8">RepeatView</th>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <th v-repeat="labels.contents | values" class="v-repeat-hack">{{$value}}</th>
                                <th v-repeat="labels.contents | values">{{$value}}</th>
                                <th>Total</th>
                                <th v-repeat="labels.contents | values">{{$value}}</th>
                            </tr>
                        </thead>
                        <tbody id="contentsRequestsTable">
                            <tr v-repeat="tests" >
                                <td>{{response.data.completed}}</td>
                                <td><a v-attr="href: response.data.summary">{{response.data.testId}}</a></td>
                                <td>{{response.data.median.firstView.breakdown | totalRequests }}</td>
                                <td v-repeat="labels.contents | keys" class="v-repeat-hack">{{response.data.median.firstView.breakdown[$value].requests }}</td>
                                <td v-repeat="labels.contents | keys" >{{response.data.median.firstView.breakdown[$value].requests }}</td>
                                <td>{{response.data.median.repeatView.breakdown | totalRequests }}</td>
                                <td v-repeat="labels.contents | keys" class="v-repeat-hack">{{response.data.median.repeatView.breakdown[$value].requests }}</td>
                                <td v-repeat="labels.contents | keys" >{{response.data.median.repeatView.breakdown[$value].requests }}</td>
                             </tr>
                        </tbody>
                    </table>
                </div>

                <div v-show="comparizon">
                    <h3>Average</h3>
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th></th>
                                <th v-repeat="urls | keys" class="v-repeat-hack">{{$value}}</th>
                                <th v-repeat="urls | keys">{{$value}}</th>
                            </tr>
                        </thead>
                        <tbody id="averageTable">
                            <tr>
                                <td>Document Complete</td>
                                <td v-repeat="loadTimeResponseTimeComparizon" class="v-repeat-hack">{{$value}}</td>
                                <td v-repeat="loadTimeResponseTimeComparizon">{{$value | ms}}</td>
                            </tr>
                            <tr>
                                <td>Fully Loaded</td>
                                <td v-repeat="fullyLoadedResponseTimeComparizon" class="v-repeat-hack">{{$value}}</td>
                                <td v-repeat="fullyLoadedResponseTimeComparizon">{{$value | ms}}</td>
                            </tr>
                            <tr>
                                <td>SpeedIndex</td>
                                <td v-repeat="speedIndexComparizon" class="v-repeat-hack">{{$value}}</td>
                                <td v-repeat="speedIndexComparizon">{{$value}}</td>
                            </tr>
                            <tr>
                                <td>Contents Size</td>
                                <td v-repeat="contentsSizeComparizon" class="v-repeat-hack">{{$value}}</td>
                                <td v-repeat="contentsSizeComparizon">{{$value | KB}}</td>
                            </tr>
                            <tr>
                                <td>Contents Request</td>
                                <td v-repeat="contentsRequestComparizon" class="v-repeat-hack">{{$value}}</td>
                                <td v-repeat="contentsRequestComparizon">{{$value}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

    <script src='build/lib.js'></script>
    <script src='build/build.js'></script>
    <script>
        require('grunt-wpt-page');
    </script>
</body>
</html>
